nav {
  background-color: rgb(99, 160, 218);
  /* display: flex; */
  border-radius: 4px;
  margin: 20px 0;
}
nav .navbar-nav {
  display: flex;
  padding: 15px 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
